.header {
    background-color: #201657;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin-left: 3rem;
}

.header nav {
    margin-right: 1rem;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}